<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hoardy-Web: Background Page</title>
    <link rel="shortcut icon" type="$iconMIME$" href="../icon/$iconFile$">
  </head>
  <body>
    $for(scripts)$
    <script src="../$scripts$"></script>
    $endfor$
  </body>
</html>
