<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hoardy-Web: Changelog</title>
    <link rel="shortcut icon" type="$iconMIME$" href="../icon/$iconFile$">
    <link rel="stylesheet" href="main.css?v=$version$">
    <style>
@layer defaults {
body {
    --padding: 10px;

    margin: 0 auto;
    max-width: calc(900px - 2 * var(--padding));
    padding: var(--padding);
    width: calc(100% - 2 * var(--padding));
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 110%;
}

div > p {
    margin-left: 1em;
}

div > ul {
    margin-left: 2em;
    padding-left: 0;
}

ul > li {
    padding-left: 0.5em;
}
}
    </style>
  </head>
  <body style="visibility: hidden">
    <div id="body">
      $body$
    </div>

    <script src="../lib/compat.js"></script>
    <script src="../lib/utils.js"></script>
    <script src="../lib/lutils.js"></script>
    <script src="changelog.js"></script>
  </body>
</html>
