<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hoardy-Web: Help</title>
    <link rel="shortcut icon" type="$iconMIME$" href="../icon/$iconFile$">
    <link rel="stylesheet" href="main.css?v=$version$">
    <style>
@layer defaults {
body {
    margin: 0 0;
    text-align: justify;
}

.less {
    display: none;
}

a.popup {
    border: 1px solid var(--outline-color);
    color: var(--a-local);
    padding: 2px;
    text-decoration: none;
    text-shadow: 0px 0px 2px var(--a-local);
}
}
    </style>
  </head>
  <body>
    <div id="body" style="display: none">
      $body$
    </div>
    $for(libScript)$<script src="../lib/$libScript$"></script>$endfor$
    <script src="help.js"></script>
  </body>
</html>
