<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>pWebArc: Help</title>
    <link rel="shortcut icon" type="image/svg" href="../icon/on.svg">
    <link rel="stylesheet" href="main.css">
    <style>
body {
    display: flex;
}

#main {
    display: inline-block;
    width: auto;
    max-height: 500px;
    overflow-y: scroll;
}

iframe {
    max-height: 500px;
    min-width: 400px;
    overflow-y: scroll;
}
    </style>
  </head>
  <body>
    <div id="main">
      $body$
    </div>
    <script src="../lib/compat.js"></script>
    <script src="../lib/utils.js"></script>
    <script src="help.js"></script>
  </body>
</html>
