:root {
    --uncheckbox-background: rgba(207,207,216,.33);
    --uncheckbox-border-color: rgb(207,207,216);
    --checkbox-background: #0250bb;
    --checkbox-border-color: #053e94;
    --text-background: inherit;
    --text-border-color: black;
}

body {
    font: 14px sans-serif;
}

input[type="checkbox"].toggle {
    appearance: none;
    padding: 0;
    margin: 0;
    height: 16px;
    width: 26px;
    border-radius: 8px;
    background: var(--uncheckbox-background);
    border: 1px solid var(--uncheckbox-border-color);
    box-sizing: border-box;
}

input[type="checkbox"].toggle::before {
    display: block;
    content: "";
    background: #fff;
    height: 10px;
    width: 10px;
    margin: 2px;
    border-radius: 5px;
    outline: 1px solid black;
    transition: transform 500ms;
    transform: translate(0, calc(50% - 10px / 2));
}

input[type="checkbox"].toggle:checked {
    background: var(--checkbox-background);
    border-color: var(--checkbox-border-color);
}

input[type="checkbox"].toggle:checked::before {
    transform: translate(10px, calc(50% - 10px / 2));
}

input[type="text"] {
    background: var(--text-background);
    border: 1px solid var(--text-border-color);
}

input[type="checkbox"].help {
    appearance: unset;
    padding: 0;
    margin: 0;
    margin-left: 5px;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background: #aaaaaa;
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
}

input[type="checkbox"].help:after {
    content: "?";
    margin-left: calc(8px - 0.5ch);
    color: #fffffa;
}

input[type="checkbox"].help:checked {
    background: #666666;
}

div.help {
    position: absolute;
    z-index: 20;

    background-color: #fffffa;
    border-radius: 3px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px gray;
    color: black;
    font: 12px sans-serif;
    padding: 4px;
    white-space: pre-line;
}

/* can't use :target because some nodes are procedurally generated */
.target {
    background-color: #ffaa00;
    animation-name: highlight;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes highlight {
    from {
        background-color: #ffaa00;
    }
    50% {
        background-color: #ffffff;
    }
    to {
        background-color: #ffaa00;
    }
}
