<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hoardy-Web: Saved in Local Storage</title>
    <link rel="shortcut icon" type="$iconMIME$" href="../icon/$iconFile$">
    <link rel="stylesheet" href="main.css?v=$version$">
    <link rel="stylesheet" href="reqres-ui.css?v=$version$">
  </head>
  <body>
    <div id="body_loading"></div>
    <div id="body_error" style="display: none"></div>
    <div id="body" style="display: none">
    <span id="top"></span>

    <h1 class="ui">Saved
      <span class="right">
        <input type="button" id="rearchiveSaved" class="on-rearchive" data-help="Re-archive reqres currently displayed below with all currently enabled re-archival methods (configured in the settings)." value="Re-archive" />
        <ui id="rearchive.andDelete" type="boolean" class="on-rearchive" style="font-size: 50%" data-help="After re-archival succeeds, delete them from browser&#039;s local storage.">... and delete</ui>
        <ui id="rearchive.andRewrite" type="boolean" style="font-size: 50%" data-help="After re-archival, forcefully re-write them from/to browser&#039;s local storage. This is only useful for debugging and for migration between local storage backends.">... and re-write</ui>
        <input type="button" id="deleteSaved" data-help-class="help-tip-right" data-help="Delete all reqres currently displayed below from local storage." value="Delete" />
      </span>
    </h1>
    <div class="controls ui">
      <ui id="rrfilters.limit" type="omega" class="c" data-default="1024" data-help="Load no more than this many elements.">{} At most {} elements</ui>
      <ui id="rrfilters.did_exportAs" type="tristate" data-help="Tristate filter for the &quot;exported via `saveAs`&quot; flag.">Exported via <code>saveAs</code></ui>
      <ui id="rrfilters.did_submitHTTP" type="tristate" data-help="Tristate filter for the &quot;submitted via `HTTP`&quot; flag.">Submitted via <code>HTTP</code></ui>
      <ui id="rrfilters.in_ls" type="tristate" data-help="Tristate filter for the &quot;in `storage.local`&quot;/&quot;in `IndexedDB`&quot; flag.">In <code>storage.local</code></ui>
    </div>
    <div class="controls ui">
      <ui id="rrfilters.problematic" type="tristate" data-help="Tristate filter for the &quot;problematic&quot; flag.">Problematic</ui>
      <ui id="rrfilters.was_problematic" type="tristate" data-help="Tristate filter for the &quot;was_problematic&quot; flag.">Was problematic</ui>
      <ui id="rrfilters.was_in_limbo" type="tristate" data-help="Tristate filter for the &quot;was_in_limbo&quot; flag.">Was in limbo</ui>
      <ui id="rrfilters.no_errors" type="tristate" data-help="Tristate filter for a reqres having errors.">Without errors</ui>
      <ui id="rrfilters.picked" type="tristate" data-help="Tristate filter for the &quot;picked/dropped&quot; state.">Picked</ui>
    </div>
    <table>
      <tbody id="data"></tbody>
    </table>
    </div>

    <script src="../lib/compat.js"></script>
    <script src="../lib/base.js"></script>
    <script src="../lib/ui.js"></script>
    <script src="../lib/webext.js"></script>
    <script src="../lib/webext-rpc-client.js"></script>
    <script src="../background/util.js"></script>
    <script src="reqres-ui.js"></script>
    <script src="saved.js"></script>
  </body>
</html>
