<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pWebArc: Saved in Local Storage</title>
    <link rel="shortcut icon" type="$iconMIME$" href="../icon/$iconFile$">
    <link rel="stylesheet" href="main.css?v=$version$">
    <link rel="stylesheet" href="reqres-ui.css?v=$version$">
  </head>
  <body>
    <div id="body_loading"></div>
    <div id="body_error" style="display: none"></div>
    <div id="body" style="display: none">
    <span id="top"></span>

    <h1>Saved
      <span class="right">
        <input type="button" id="requeueSaved" data-help-class="help-tip-right" data-help="Put all reqres below back into the archiving queue. Note that for each given reqres and each archiving method pWebArc remembers if the reqres in question was ever successfully archived using that archiving method and will not re-archive it the second time." value="Re-queue" />
        <input type="button" id="rearchiveSaved" data-help="Re-queue, but reset all internal per-reqres per-archiving method status flags, forcing all these reqres to be archived again, regardless of any previous successes or failures." value="Re-archive" />
        <input type="button" id="deleteSaved" data-help="Delete all reqres below from local storage." value="Delete" />
      </span>
    </h1>
    <div class="controls">
      <ui id="rrfilters.limit" type="omega" class="c" data-default="1024" data-help="Load no more than this many elements.">{} At most {} elements</ui>
      <ui id="rrfilters.did_exportAs" type="tristate" data-help="Tristate filter for the &quot;exported via `saveAs`&quot; flag.">Exported via <code>saveAs</code></ui>
      <ui id="rrfilters.did_submitHTTP" type="tristate" data-help="Tristate filter for the &quot;submitted via HTTP&quot; flag.">Submitted via HTTP</ui>
      <ui id="rrfilters.in_ls" type="tristate" data-help="Tristate filter for the &quot;in `storage.local`&quot;/&quot;in `IndexedDB`&quot; flag.">In <code>storage.local</code></ui>
    </div>
    <div class="controls">
      <ui id="rrfilters.problematic" type="tristate" data-help="Tristate filter for the &quot;problematic&quot; flag.">Problematic</ui>
      <ui id="rrfilters.was_problematic" type="tristate" data-help="Tristate filter for the &quot;was_problematic&quot; flag.">Was problematic</ui>
      <ui id="rrfilters.was_in_limbo" type="tristate" data-help="Tristate filter for the &quot;was_in_limbo&quot; flag.">Was in limbo</ui>
      <ui id="rrfilters.no_errors" type="tristate" data-help="Tristate filter for a reqres having errors.">Without errors</ui>
      <ui id="rrfilters.picked" type="tristate" data-help="Tristate filter for the &quot;picked/dropped&quot; state.">Picked</ui>
    </div>
    <table>
      <tbody id="data"></tbody>
    </table>
    </div>

    $for(libScript)$<script src="../lib/$libScript$"></script>$endfor$
    <script src="reqres-ui.js"></script>
    <script src="saved.js"></script>
  </body>
</html>
