<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hoardy-Web: Internal State</title>
    <link rel="shortcut icon" type="$iconMIME$" href="../icon/$iconFile$">
    <link rel="stylesheet" href="main.css?v=$version$">
    <link rel="stylesheet" href="reqres-ui.css?v=$version$">
  </head>
  <body>
    <div id="body_loading" style="display: none"></div>
    <div id="body_error" style="display: none"></div>
    <div id="body" style="display: none">
    <!-- body -->

    <span id="top"></span>
    <h1 id="in_flight" class="ui">In flight
      <span class="controls">
        <ui id="rrfilters.inFlight.url_algo" type="tristate" data-help="URL matching algorithm tristate of: exact, substring, regexp.">Match</ui>
        <ui id="rrfilters.inFlight.url" type="string" timeout="600" data-help="URL, substring, or regexp to match.">URL</ui>
      </span>
      <span class="right">
        <input type="button" id="stopInFlight" data-help="Stop tracking all in-flight requests displayed below and either pick or drop them, depending on their completion and &quot;Pick reqres for archival when they finish&quot; options in the settings popup." value="Stop tracking" />
      </span>
    </h1>
    <table><tbody id="data-inFlight"></tbody></table>

    <h1 id="problematic" class="ui">Problematic
      <span class="controls">
        <ui id="rrfilters.problematic.url_algo" type="tristate" data-help="URL matching algorithm tristate of: exact, substring, regexp.">Match</ui>
        <ui id="rrfilters.problematic.url" type="string" timeout="600" data-help="URL, substring, or regexp to match.">URL</ui>
      </span>
      <span class="right">
        <input type="button" id="unmarkOneProblematic" data-help="Unset `problematic` flag from the first reqres displayed below." value="Unmark the first one" />
        <input type="button" id="unmarkAllProblematic" data-help="Unset `problematic` flag from all reqres displayed below." value="Unmark all" />
      </span>
    </h1>
    <div class="controls ui">
      <ui id="rrfilters.problematic.in_limbo" type="tristate" data-help="Tristate filter for the &quot;in_limbo&quot; flag.">In limbo</ui>
      <ui id="rrfilters.problematic.was_in_limbo" type="tristate" data-help="Tristate filter for the &quot;was_in_limbo&quot; flag.">Was in limbo</ui>
      <ui id="rrfilters.problematic.with_errors" type="tristate" data-help="Tristate filter for a reqres having errors.">With errors</ui>
      <ui id="rrfilters.problematic.picked" type="tristate" data-help="Tristate filter for the &quot;picked/dropped&quot; state.">Picked</ui>
      <input type="button" id="rotateOneProblematic" data-help="Move the first reqres displayed below to the end." value="Rotate the first one" />
    </div>
    <table><tbody id="data-problematic"></tbody></table>

    <h1 id="in_limbo" class="ui">In limbo
      <span class="controls">
        <ui id="rrfilters.inLimbo.url_algo" type="tristate" data-help="URL matching algorithm tristate of: exact, substring, regexp.">Match</ui>
        <ui id="rrfilters.inLimbo.url" type="string" timeout="600" data-help="URL, substring, or regexp to match.">URL</ui>
      </span>
      <span class="right">
        <input type="button" id="discardOneInLimbo" data-help="Discard the first reqres displayed below." value="Discard the first one" />
        <input type="button" id="discardAllInLimbo" data-help="Discard all reqres displayed below." value="Discard all" />
      </span>
    </h1>
    <div class="controls ui">
      <ui id="rrfilters.inLimbo.problematic" type="tristate" data-help="Tristate filter for the &quot;problematic&quot; flag.">Problematic</ui>
      <ui id="rrfilters.inLimbo.was_problematic" type="tristate" data-help="Tristate filter for the &quot;was_problematic&quot; flag.">Was problematic</ui>
      <ui id="rrfilters.inLimbo.with_errors" type="tristate" data-help="Tristate filter for a reqres having errors.">With errors</ui>
      <ui id="rrfilters.inLimbo.picked" type="tristate" data-help="Tristate filter for the &quot;picked/dropped&quot; state.">Picked</ui>
      <input type="button" id="rotateOneInLimbo" data-help="Move the first reqres displayed below to the end." value="Rotate the first one" />
      <input type="button" id="collectOneInLimbo" data-help="Collect the first reqres displayed below." value="Collect the first one" />
      <input type="button" id="collectAllInLimbo" data-help="Collect all reqres displayed below." value="Collect all" />
    </div>
    <table><tbody id="data-inLimbo"></tbody></table>

    <h1 id="log" class="ui">Recent history log
      <span class="controls">
        <ui id="rrfilters.log.url_algo" type="tristate" data-help="URL matching algorithm tristate of: exact, substring, regexp.">Match</ui>
        <ui id="rrfilters.log.url" type="string" timeout="600" data-help="URL, substring, or regexp to match.">URL</ui>
      </span>
      <span class="right">
        <input type="button" id="forgetLog" data-help="Forget about all the requests displayed below except for those that are still marked as &quot;problematic&quot;." value="Forget all" />
      </span>
    </h1>
    <div class="controls ui">
      <ui id="rrfilters.log.collected" type="tristate" data-help="Tristate filter for the &quot;collected/discarded&quot; state.">Collected</ui>
      <ui id="rrfilters.log.problematic" type="tristate" data-help="Tristate filter for the &quot;problematic&quot; flag.">Problematic</ui>
      <ui id="rrfilters.log.was_problematic" type="tristate" data-help="Tristate filter for the &quot;was_problematic&quot; flag.">Was problematic</ui>
      <ui id="rrfilters.log.was_in_limbo" type="tristate" data-help="Tristate filter for the &quot;was_in_limbo&quot; flag.">Was in limbo</ui>
      <ui id="rrfilters.log.with_errors" type="tristate" data-help="Tristate filter for a reqres having errors.">With errors</ui>
      <ui id="rrfilters.log.picked" type="tristate" data-help="Tristate filter for the &quot;picked/dropped&quot; state.">Picked</ui>
    </div>
    <table><tbody id="data-log"></tbody></table>
    <!-- This anchor goes here, because we usually want to see the tail of the log. -->
    <span id="tail"></span>

    <h1 id="queued" class="ui">Queued
      <span class="controls">
        <ui id="rrfilters.queued.url_algo" type="tristate" data-help="URL matching algorithm tristate of: exact, substring, regexp.">Match</ui>
        <ui id="rrfilters.queued.url" type="string" timeout="600" data-help="URL, substring, or regexp to match.">URL</ui>
      </span>
    </h1>
    <div class="controls ui">
      <ui id="rrfilters.queued.problematic" type="tristate" data-help="Tristate filter for the &quot;problematic&quot; flag.">Problematic</ui>
      <ui id="rrfilters.queued.was_problematic" type="tristate" data-help="Tristate filter for the &quot;was_problematic&quot; flag.">Was problematic</ui>
      <ui id="rrfilters.queued.was_in_limbo" type="tristate" data-help="Tristate filter for the &quot;was_in_limbo&quot; flag.">Was in limbo</ui>
      <ui id="rrfilters.queued.with_errors" type="tristate" data-help="Tristate filter for a reqres having errors.">With errors</ui>
      <ui id="rrfilters.queued.picked" type="tristate" data-help="Tristate filter for the &quot;picked/dropped&quot; state.">Picked</ui>
    </div>
    <table><tbody id="data-queued"></tbody></table>

    <h1 id="unarchived" class="ui">Failed to archive
      <span class="controls">
        <ui id="rrfilters.unarchived.url_algo" type="tristate" data-help="URL matching algorithm tristate of: exact, substring, regexp.">Match</ui>
        <ui id="rrfilters.unarchived.url" type="string" timeout="600" data-help="URL, substring, or regexp to match.">URL</ui>
      </span>
      <span class="right">
        <input type="button" id="retryUnarchived" data-help="Move all reqres displayed below to the archival queue and then nudge the archiving sub-process awake." value="Retry all" />
      </span>
    </h1>
    <div class="controls ui">
      <ui id="rrfilters.unarchived.problematic" type="tristate" data-help="Tristate filter for the &quot;problematic&quot; flag.">Problematic</ui>
      <ui id="rrfilters.unarchived.was_problematic" type="tristate" data-help="Tristate filter for the &quot;was_problematic&quot; flag.">Was problematic</ui>
      <ui id="rrfilters.unarchived.was_in_limbo" type="tristate" data-help="Tristate filter for the &quot;was_in_limbo&quot; flag.">Was in limbo</ui>
      <ui id="rrfilters.unarchived.with_errors" type="tristate" data-help="Tristate filter for a reqres having errors.">With errors</ui>
      <ui id="rrfilters.unarchived.picked" type="tristate" data-help="Tristate filter for the &quot;picked/dropped&quot; state.">Picked</ui>
    </div>
    <table><tbody id="data-unarchived"></tbody></table>

    <h1 id="buggedOut" class="ui">Bugged out
      <span class="controls">
        <ui id="rrfilters.buggedOut.url_algo" type="tristate" data-help="URL matching algorithm tristate of: exact, substring, regexp.">Match</ui>
        <ui id="rrfilters.buggedOut.url" type="string" timeout="600" data-help="URL, substring, or regexp to match.">URL</ui>
      </span>
      <span class="right">
        <input type="button" id="archiveBuggedOut" data-help="Drop reqres displayed below from the bugged out list, push them into the archiving queue, and nudge the archiving process awake. If the archiving process bugs out, they will end up in this list again." value="Re-queue" />
        <input type="button" id="deleteBuggedOut" data-help="Drop reqres displayed below from the bugged out list and delete them local storage if they have any stashed or saved data there." value="Delete" />
      </span>
    </h1>
    <div class="controls ui">
      <ui id="rrfilters.buggedOut.problematic" type="tristate" data-help="Tristate filter for the &quot;problematic&quot; flag.">Problematic</ui>
      <ui id="rrfilters.buggedOut.was_problematic" type="tristate" data-help="Tristate filter for the &quot;was_problematic&quot; flag.">Was problematic</ui>
      <ui id="rrfilters.buggedOut.was_in_limbo" type="tristate" data-help="Tristate filter for the &quot;was_in_limbo&quot; flag.">Was in limbo</ui>
      <ui id="rrfilters.buggedOut.with_errors" type="tristate" data-help="Tristate filter for a reqres having errors.">With errors</ui>
      <ui id="rrfilters.buggedOut.picked" type="tristate" data-help="Tristate filter for the &quot;picked/dropped&quot; state.">Picked</ui>
    </div>
    <table><tbody id="data-buggedOut"></tbody></table>

    <!-- body -->
    </div>

    <script src="../lib/compat.js"></script>
    <script src="../lib/base.js"></script>
    <script src="../lib/schedule-timeout.js"></script>
    <script src="../lib/ui.js"></script>
    <script src="../lib/webext.js"></script>
    <script src="../lib/webext-rpc-client.js"></script>
    <script src="../background/util.js"></script>
    <script src="reqres-ui.js"></script>
    <script src="state.js"></script>
  </body>
</html>
